<div class="pricing">
   <div class="container">
      <div class="pricing-table table-responsive">
         <table class="table">
            <thead>
               <tr>
                  <th class="no-border">&nbsp;</th>
                  <th>
                     <span class="ptable-icon">
                     <i class="fa fa-lg fa-user"></i>
                     </span>
                     <p class="ptable-top-text" > Free Tier</p>
                     <p class="ptable-heading-text" > Free </p>
                     <p class="ptable-body-sub-text" >
                        Usage restrictions will apply until your account is funded with atleast $5
                     </p>
                     <p class="ptable-body-text" >
                     </p>
                     <p class="ptable-body-text" >
                     </p>
                  </th>
                  <th class="highlight">
                     <span class="ptable-icon">
                     <i class="fa fa-lg fa-users"></i>
                     </span>
                     <p class="ptable-top-text" > Business</p>
                     <p class="ptable-heading-text" > $249 </p>
                     <p class="ptable-body-text" >
                        Monthly
                     </p>
                     <p class="ptable-body-text" >
                        Current plan - Trial 45 Days Left
                     </p>
                  </th>
                  <th>
                     <span class="ptable-icon">
                     <i class="fa fa-lg fa-building"></i>
                     </span>
                     <p class="ptable-top-text" > Enterpise</p>
                     <p class="ptable-heading-text" > $2499 </p>
                     <p class="ptable-body-sub-text" >
                        Monthly(Minimum of 3 months if using (*) features)
                     </p>
                     <p class="ptable-body-text" >
                     </p>
                     <%= button_to "Get Started", update_company_subscriptions_path(subscription: "enterpise"), method: :post, class: "btn btn-lg btn-primary" %>  
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td ><span class="ptable-title">Reporting Data Storage</span></td>
                  <td>
                     7 Days
                  </td>
                  <td>
                     60 Days
                  </td>
                  <td>
                     1 year
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title"> # of Administrators</span></td>
                  <td>
                     1
                  </td>
                  <td>
                     10
                  </td>
                  <td>
                     unlimited
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">Billing</span></td>
                  <td>
                     -
                  </td>
                  <td>
                     Credit card automatically billed at the end of every month
                  </td>
                  <td>
                     Credit card automatically billed at the end of every month
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">1 year price lock</span></td>
                  <td>
                     no
                  </td>
                  <td>
                     yes
                  </td>
                  <td>
                     yes
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">Billing Data Export</span></td>
                  <td>
                     -
                  </td>
                  <td>
                     API, UI
                  </td>
                  <td>
                     API, UI
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">automatically Monthly Invoices Broken Down by Projects</span></td>
                  <td>
                     -
                  </td>
                  <td>
                     API, UI
                  </td>
                  <td>
                     API UI
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">Subprojects</span></td>
                  <td>
                     -
                  </td>
                  <td>
                     -
                  </td>
                  <td>
                     <i class="fa fa-check green"></i>
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">Free Media Storage</span></td>
                  <td>
                     5GB
                  </td>
                  <td class = "bottom-yellow-border">
                     200GB
                  </td>
                  <td>
                     500GB
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">Add-Ons</span></td>
               </tr>
               <tr>
                  <td><span class="ptable-title">Dedicated IP for BYOC</span></td>
                  <td>
                     -
                  </td>
                  <td class="gray-border">
                     -
                  </td>
                  <td>
                     $500/month for redundent IPs
                  </td>
               </tr>
               <tr>
                  <td><span class="ptable-title">Additional incremental CPS</span></td>
                  <td>
                     -
                  </td>
                  <td class="gray-border">
                     -
                  </td>
                  <td>
                     Max 200 CPS
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>